<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/movies.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Movie Details - <%= movie.title %></title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1><%= movie.title %> (Year: <%= movie.year %>)</h1>
        <img src="<%= movie.image %>" alt="<%= movie.title %> poster">
        <p><%= movie.description %></p>
        <a href="/movies">Back to Movies</a>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
