<!DOCTYPE html>
<html lang="en">
    
    <%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/header.ejs") %>

    <main>
        <h1><%= director.name %> (Age: <%= director.age %>)</h1>
        <p><%= director.description %></p> 

        <h3>Biography</h3>
        <p><%= director.bio %></p> 

        <a href="/directors">Back to Directors</a>
    </main>

    <%- include("../partials/footer.ejs") %>
</body>
</html>

    